* {
  margin: unset;
  padding: unset;
}

background {
  color: lavenderblush;
}

nav {
  background: #00805a;
  height: 3rem;
  line-height: 3rem;
  color: #fff;
  padding-left: 2rem;
  margin-bottom: 1rem;
}

.container {
  padding: 1rem;
  width: max-content;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(1fr);
}

#itemForm label {
  display: block;
  margin-bottom: 1rem;
  font-size: 20px;
}

#itemForm input {
  height: 2rem;
  text-align: center;
  border: 1px solid #bfbfbf;
}

#quantityInput,
#priceInput {
  width: 3 rem;
}

#addItemButton {
  border: unset;
  border-radius: 8px;
  background: #00805a;
  color: #fff;
  padding: 1rem;
  font-size: 16px;
  font-weight: 600;
}

#itemsDiv {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.item {
  display: grid;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-template-columns: 1fr 2fr 1fr;
  background: #eaeaea;
  margin-bottom: 0.5rem;
}

.checkbox {
  height: 100%;
  width: 2.5rem;
}

.itemInfo {
  text-align: center;
}

.deleteButton {
  margin: 0 0 0 auto;
  border: unset;
  background: #b10000;
  color: #fff;
  font-size: 0.8rem;
  width: 2.5rem;
  height: 100%;
}

.deleteButton:active {
  margin-top: 3px;
}

.purchased {
  background: #00805a;
  color: #fff;
}

.purchased p {
  text-decoration: line-through;
}
