:root {
  --main-bg-color: white;
  --nav-bg-color: #2bc1ff;
  --background-blue-alternate: rgba(51, 167, 255, 0.5);
  --nav-text-color: #fff;
  --text-color: #364958;
  --text-shadow-large: 2px 4px 3px rgba(0, 0, 0, 0.3);
  --text-shadow-small: 1px 2px 2px rgba(0, 0, 0, 0.1);
  --border-color: #bfbfbf;
  --item-bg-color: #eaeaea;
  --button-bg-color: #35ce8d;
  --button-text-color: #fff;
  --button-hover-bg-color: #fb3640;
  --button-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  --drawer-shadow: rgba(50, 50, 93, 0.25) 0px 25px 25px 6px,
    rgba(0, 0, 0, 0.5) 0px 3px 4px 1px;
  --heading-font-family: 'Urbanist', sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-bg-color);
  font-family: sans-serif;
}

/* container for the add button and modal structure */
.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;
  margin-top: 4rem; /* Gives space so the items in the main screen aren't behind the nav */
}

@media (max-width: 600px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* ICONS */
.arrow-up {
  width: 12px;
  height: 12px;
  border: 3px solid var(--nav-bg-color);
  border-left: 0;
  border-top: 0;
  transform: rotate(225deg);
  align-self: center;
  margin-top: 0.2rem;
}

.arrow-down {
  width: 12px;
  height: 12px;
  border: 3px solid var(--nav-bg-color);
  border-left: 0;
  border-top: 0;

  transform: rotate(45deg);
}

.plus {
  --b: 4px; /* thickness*/
  --c: #fff 90deg, var(--nav-bg-color) 0; /* coloration */
  border: 5px solid #fff;
  border-radius: 50%;
  width: 25px; /* size */
  aspect-ratio: 1;
  background: conic-gradient(from 90deg at var(--b) var(--b), var(--c))
    calc(100% + var(--b) / 2) calc(100% + var(--b) / 2) / calc(50% + var(--b))
    calc(50% + var(--b));
}
