.formActionsDiv {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding-top: 2rem;
}

button {
  border: none;
  border-radius: 8px;
  color: var(--button-text-color);
  padding: 1rem;
  font-size: 20px;
  font-weight: 600;
  box-shadow: var(--button-shadow);
}

button:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#openModalButton {
  background: var(--nav-bg-color);
  font-family: var(--heading-font-family);
  width: auto;
}

@media (max-width: 600px) {
  #openModalButton {
    width: 100%;
  }
}

#addItemButton {
  background: var(--button-bg-color);
  font-family: var(--heading-font-family);
}

#cancelButton {
  background: var(--button-hover-bg-color);
  font-family: var(--heading-font-family);
}
