#itemForm {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#itemForm label {
  display: block;
  margin-bottom: 1rem;
  font-size: 20px;
}

#itemForm input,
select {
  display: block;
  height: 2.5rem;
  font-size: 20px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin-top: 0.5rem;
  width: 100%;
}

.formInputGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

#itemForm input:invalid {
  outline: 1px solid var(--button-hover-bg-color);
}

#itemForm input:focus-visible {
  outline: 1px solid var(--nav-bg-color);
}

#quantityInput,
#priceInput {
  width: 3rem;
}

.error {
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.03rem;
  line-height: 2rem;
  color: var(--button-hover-bg-color);
}
