#addItemForm,
#addListForm {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#addItemForm label,
#addListForm label {
  display: block;
  margin-bottom: 1rem;
  font-size: 20px;
}

#addItemForm input,
#addItemForm select,
#addListForm input,
#addListForm select {
  display: block;
  height: 2.5rem;
  font-size: 20px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin-top: 0.5rem;
  width: 100%;
}
.formInputGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

#addItemForm input:invalid,
#addListForm input:invalid {
  outline: 1px solid var(--button-hover-bg-color);
}

#addItemForm input:focus-visible,
#addListForm input:focus-visible {
  outline: 1px solid var(--nav-bg-color);
}

#addItemForm select:focus-visible,
#addListForm select:focus-visible {
  outline: 1px solid var(--nav-bg-color);
}

#quantityInput,
#priceInput {
  width: 3rem;
}

.error {
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.03rem;
  line-height: 2rem;
  color: var(--button-hover-bg-color);
}

#uploadBackupForm {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*TODO: implement custom upload area */
/* input[type='file'] {
  display: none;
} */

.fileInputLabel {
  display: block;
  border: 1px dashed var(--border-color);
  border-radius: 8px;
  display: block;
  padding: 1.6rem;
  background: #eaeaea;
  text-align: center;
  font-style: italic;
  font-weight: 500;
  cursor: pointer;
  font-family: var(--heading-font-family);
  margin-bottom: 1rem;
  color: rgb(122, 121, 121);
}

/*Spinner stuff - should prly get its own module when implemented */
#spinner {
  display: none;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2em;
  color: #333;
}

#spinner::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
