.noItemsMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 16px;
  font-style: italic;
  color: #999999;
}

#itemsDiv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 20rem; /* spacing so items dont get lost under sticky footer*/
}

.item {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  border-bottom: 1px solid #cdcccb;
  background: white;
  font-size: 20px;
  width: 85%;
  margin: 0 auto;
  border-radius: 8px;
}

.checkbox {
  height: 100%;
  width: 2rem;
  margin-left: 1rem;
}

.itemInfo {
  color: var(--text-color);
  padding: 1rem;
}

.itemInfoHeading {
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.05rem;
}

.itemAmountSection {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  letter-spacing: 0.05rem;
}

.storeSection {
  color: #8d8d8d;
}

.itemNameContainer {
  position: relative;
  grid-area: name;
  font-size: 22px;
  display: grid;
  grid-template-columns: 1fr;
}

.itemNameText {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 24px;
}

.itemQuantityContainer {
  grid-area: quantity;
}

.itemQuantityText {
  font-weight: 600;
  font-size: 18px;
}

.itemActions {
  display: flex;
  flex-direction: column;
}

.deleteButton,
.editButton {
  color: var(--button-text-color);
  font-size: 0.8rem;
  width: 4rem;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 100%;
}

.deleteButton {
  background: var(--button-hover-bg-color);
  color: var(--secondary-red);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 0px;
}

.editButton {
  background-color: #7eff9a;
  color: var(--secondary-green);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 8px;
}

/* .deleteButton:active {
  margin-top: 3px;
} */

.purchased {
  background: #b4b8b4;
  color: #fff;
}

.purchased .itemNameText {
  text-decoration: line-through;
}

.divider {
  border-top: 1px solid var(--nav-bg-color);
  margin-left: 2rem;
  margin-right: 2rem;
}

#toggleMessage {
  font-size: 16px;
  font-family: var(--heading-font-family);
}

/* bubbles at the bottom to quick sort the list */
.closed {
  display: none;
}

.stickyQuickSortFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  z-index: 1;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap; /* Prevents items from wrapping */
  box-shadow: var(--drawer-shadow);
}

#quickSortDiv {
  display: inline-flex; /* inline-flex to respect the white-space property */
  gap: 1.6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

#quickSortWrapper {
  text-align: center;
}

.itemGroupContainer {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--heading-font-family);
  color: var(--text-color);
  font-size: large;
  font-weight: 600;
  white-space: nowrap; /* Ensure items do not wrap */
}

.itemGroup {
  background: var(--dark-grey);
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  font-size: medium;
  align-items: center;
  color: white;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  box-shadow: var(--button-shadow);
}

.completed {
  background-color: var(--primary-green);
}

.selected {
  background-color: var(--nav-bg-color);
}
