#listsDiv {
  padding-left: 6rem;
  padding-right: 6rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.listSelection {
  box-shadow: var(--button-shadow);
  border-radius: 8px;
  padding: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  cursor: pointer;
  font-family: var(--heading-font-family);
  background: white;
  color: var(--text-color);
}

.listLink {
  text-decoration: none;
}

.itemMassActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--border-color);
  padding: 0.5rem;
  border-radius: 8px;
  margin-top: 1rem;
}

.selectAllInputContainer label {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.selectAllInputContainer input[type='checkbox'] {
  width: 20px;
  height: 20px;
  transform: scale(1.5);
  margin-right: 1rem;
  margin-left: 0.5rem;
}
