nav {
  letter-spacing: 0.2rem;
  line-height: 3rem;
  background-color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-family: var(--heading-font-family);
  font-size: 24px;
  font-weight: 800;
  box-shadow: var(--button-shadow);
  position: fixed;
  top: 0;
  width: 100%;
}

.navContents {
  display: flex;
  justify-content: space-between;
}
